{% extends 'Jobseeker/jobseeker_home.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
<table width="200" border="0">
  <tr>
    <td><a href="/viewjob_jobseeker">View Job</a></td>
  </tr>
  <tr>
    <td><a href="/viewapplied_job">Applied Job</a></td>
  </tr>
  <tr>
    <td><a href="complaint_jobseeker">Send Complaints</a></td>
  </tr>
  <tr>
    <td><a href="feedback_jobseeker">Send Feedback</a></td>
  </tr>
  <tr>
    <td><a href="/">Log out</a></td>
  </tr>
</table>
</form>

</body>
{% endblock %}
